{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} -  RenderFarm Management</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "templates/dashboard/css/bootstrap.min.css" %}" rel='stylesheet' type='text/css' />
    <link href="{% static "templates/dashboard/css/font-awesome.min.css" %}" rel='stylesheet' type='text/css' />
    <link href="{% static "templates/dashboard/css/animate.min.css" %}" rel='stylesheet' type='text/css' />
    <link href="{% static "templates/dashboard/css/fontastic.css" %}" rel='stylesheet' type='text/css' />
	<!-- NProgress -->
	<link href="{% static "vendors/nprogress/nprogress.css" %}" rel='stylesheet' type='text/css' />

	{% block header_asset %}{% endblock %}   

	<link href="{% static "templates/dashboard/css/custom.min.css" %}" rel='stylesheet' type='text/css' />
	<link href="{% static "templates/dashboard/css/qilara.css" %}" rel='stylesheet' type='text/css' />
</head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> 
              <span>P2I</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
                <div class="profile_pic">
                	{% if request.user.profile.photo %}
                        <img src="{% static "templates/dashboard/images/user.png" %}" class="img-circle profile_img" id="image_upload">
                    {% else %}
                        <img src="{% static "templates/dashboard/images/user.png" %}" class="img-circle profile_img" id="image_upload">
                    {% endif %}

                    <form action="dashboard/upload_avatar" method="POST" class="upload_profile_pic" enctype="multipart/form-data">
                        <input type="file" id="avatar_upload" name="avatar" style="display: none;" />
                    </form>
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            {% include "dashboard/partial/menu.html" %}

          </div>
        </div>

       {% include "dashboard/partial/top_nav.html" %}

        <!-- page content -->
        <div class="right_col" role="main">
            {% if messages %}
	        	{% for message in messages %}
	                <div class="row margin-top-60">
	                    <div class="alert alert-success" role="alert">
	                        <p>{{ message }}</p>
	                    </div>
	                </div>
	            {% endfor %}
	        {% endif %}

            
            {% if form.errors %}
                <!-- Error messaging -->
                <div id="errors">
                    <div class="inner">
                        <p>There were some errors in the information you entered. Please correct the following:</p>
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /Error messaging -->
            {% endif %}

           
            {% block content %}{% endblock %}
        </div>
        <!-- /page content -->

{% include "dashboard/partial/footer.html" %}

{% block footer_asset %}{% endblock %}   

<script type="text/javascript" src="{% static "templates/dashboard/js/custom.js" %}"></script>
<script type="text/javascript" src="{% static "templates/dashboard/js/qilara.js" %}"></script>
</body>

</html>